.wrap {

    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0, 0, 0); /* Цвет запасной вариант */
    background-color: rgba(0, 0, 0, 0.2); /* Черный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и по центру */
    padding: 25px;
    /*border: 1px solid #888;*/
    width: 20%; /* Может быть больше или меньше, в зависимости от размера экрана */
    height: 20%;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

/* Кнопка закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.text {
    /*border: 1px solid black;*/
/*max-width: 200px;*/
}